body {
    margin: 0;
    padding: 0px;
    background: #E8E0D7;
    font-family: Arial, sans-serif;
    height: 100vh;
    /* Fixe la hauteur de la page */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Format de la navbarre*/

.nav-extended {
    background-color: #2D3142;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    min-height: 50px;

    justify-content: center;
    align-items: center;
}

.nav-content {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    height: auto;
}

.navbar a {
    color: #E8E0D7;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px !important ;
    color: #2D3142;
    text-decoration: underline;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px ! important ;
    color: #2D3142;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}